*{
   margin: 0;
   padding: 0;
 }

body{
    background-image: url("../images//bc.gif");
}
.container{
    margin: 200px;
    margin-top: 40px;
    padding: 100px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    /* border: 2px solid blue; */
    height: fit-content;
    width: fit-content;
    /* box-shadow: 6px 8px 25px 0px white; */
    background-color: black;
}

.box{
 margin-top: 10px;
  margin-left: 300px;
  border: 2px solid white;
  height: 40px;
  width: 100px;
  text-align: center;
  background-color: #fff;
  
}
.box a{
    color: black;
    font-size: 24px;
    font-weight: 600;
}